<ion-view class="login-view">
  <ion-content scroll="false">
    <div class="bar bar-header bar-dark login-header">
      <button ui-sref="home" class="button button-icon icon ion-ios-arrow-back"></button>
      <h1 class="title">REGISTER</h1>
    </div>
    <div class="list">
      <label class="item login-item">
        <input class="login-input" type="text" placeholder="EMAIL">
      </label>
      <label class="item login-item">
        <input class="login-input" type="text" placeholder="USERNAME">
      </label>
      <label class="item login-item">
        <input class="login-input" type="text" placeholder="FIRST NAME">
      </label>
      <label class="item login-item">
        <input class="login-input" type="text" placeholder="LAST NAME">
      </label>
      <label class="item login-item">
        <input class="login-input" type="password" placeholder="PASSWORD">
      </label>
      <label class="item login-item">
        <input class="login-input" type="password" placeholder="RE-ENTER PASSWORD">
      </label>
    </div>
    <div class="register-text">
      <h5>Already registered?</h5>
      <a ui-sref="login">Go to login!</a>
    </div>
    <div class="bar bar-footer bar-dark">
      <div class="title">CREATE ACCOUNT</div>
    </div>
  </ion-content>
</ion-view>
