<ion-view class="login-view">
  <ion-content scroll="false">
    <div class="bar bar-header bar-dark login-header">
      <button ui-sref="home" class="button button-icon icon ion-ios-arrow-back"></button>
      <h1 class="title">LOGIN</h1>
    </div>
    <div class="list">
      <label class="item login-item">
        <input class="login-input" type="text" placeholder="USERNAME">
      </label>
      <label class="item login-item">
        <input class="login-input" type="password" placeholder="PASSWORD">
      </label>
    </div>
    <div class="register-text">
      <h5>You don`t have an account yet?</h5>
      <a ui-sref="register">Click here to register!</a>
    </div>
    <div class="bar bar-footer bar-dark">
      <div class="title">PROCEED</div>
    </div>
  </ion-content>
</ion-view>
